input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  // max-width: 400px;

}

.searchCityDrop {
  border: none;
  width: 90px;
  height: 47px;
  margin-top: 8px;
  overflow: hidden;
  font-size: 15px;
}

.formClick {
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #DB0101;
  color: white;
  // border: 1px solid #ccc;
}

.formClick:hover {
  background-color: #A60000;
  color: white;
}

.searchForm {
  margin: 20px 3vw 20px 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
  max-width: 876px;
  border-radius: 2px;

}

.searchFormHeading {
  margin: 15px 0px;
  margin-bottom: 9px;
  font-size: 31px;
  margin-left: 20px
}

.searchBar {
  margin: 10px 20px 20px 20px;
  border: 1px solid #ccc;
  display: flex;
}
