input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    max-width: 400px;
}

.searchCityDrop {
  border: 2px solid #ccc;
  width: 90px;
  height: 47px;
  // border-radius: 3px;
  overflow: hidden;
  font-size: 15px;
}

.searchCityClick {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #ccc;
}

.searchCityClick:hover {
  background-color: #ccc;
  color: white;
}

.searchForm {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid #ccc;

}
