.header {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header button {
  background-color: #237B98;
  color: white;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;

  border: none;

  text-align: center;
  margin: 4px 2px;

  transition-duration: 0.4s;
  cursor: pointer;

}

.header button:hover {
  background-color: #f44336;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eef4fb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1
}

.dropdown-content Link {
  display: block;
}

.userOptions {
  display: flex;
  flex-direction: row;
}

.userDropdown:hover .user-dropdown-content {
  display: flex;
  flex-direction: column;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #eef4fb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1
}

.user-dropdown-content Link {
  display: block;
}
