.restaurant {
  background-color: #F6F5F5;
  margin: auto;
  height: 140vh;
  padding-bottom: 50px;
}

.restHeader {
  display: flex;
  flex-direction: row;
  background-color: purple;
  color: white;
  padding-top: 48px;
  padding-bottom: 48px;
}

.restHeader img {
  max-width: 250px;
  max-height: 140px;
  padding: 0px 20px 0px 20px;
  border-radius: 50px;
}

.restHeaderText {
  display: flex;
  flex-direction: column;
  // list-style-type: none;
}

.restHeaderText h1 {
  font-size: 40px;
}

.follow_button {
  display: flex;
  justify-content: center;
  background: #DB0101;
  color: white;
  max-width: 72px;
  padding: 2px 4px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.follow_button:hover {
  background-color: #A60000;
}

.restHeaderHours {
  display: flex;
  flex-direction: row;
}

.restHeaderHours li {
  margin-right: 4px;
}

.restDescription {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding-top: 15px;
  max-width: 900px;
  background-color: white;
  margin: auto;
  margin-bottom: 25px;
}

.restDescription p {
  font-size: 25px;
  font-weight: 400;
  padding: 10px 0px 10px 15px;
  border-bottom: black;
  border-bottom-style: solid;
  border-color: #F6F5F5;
  border-width: 1px;
  margin: 2px;
  padding-left: 15px;
}

.restDescription div {
  padding: 20px 20px 20px 15px;
}
