.reviewForm {
  margin: 10px 20px 20px 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.reviewInput {
  min-height: 20vh;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 25px;
  padding-left: 15px;
  padding-top: 15px;
  font-weight: 400;
}

.ReviewFormErrors {
  display: flex;
  justify-content: center;
  color: red;
  margin-bottom: 7px;
}

// .alreadyReviewed {
//
// }

.restReviews {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 15px;
  max-width: 900px;
  background-color: white;
  margin: auto;
}

.restReviews p {
  font-size: 25px;
  font-weight: 400;
  padding: 15px;
}

.reviewListItem {
  padding: 15px 15px 15px 15px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.reviewListItem:first-child {
  border: none;
}

.reviewListItemHeader {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.reviewListItemHeader li {
  margin-right: 20px;
  margin-bottom: 13px;
}

.reviewList {
  display: flex;
  flex-direction: column-reverse;
}

.formReviewClick {
  padding: 20px 32px;
}
//
// .reviewButtons {
//   display: flex;
//   justify-content: space-around;
// }

.visited {
  margin-left: 30px;
}

.calendar {
  height: 60px;
  margin-left: 2%;
  width: 20%;
  border: none;

}

.calendar:hover {
  background-color: white;
  color: black;
}

.reviewInput{
  outline: none;
}

.calendar:focus {
  outline: none;
}
//
// .reviewBar {
//   display: flex
// }

.reviewDrop {
  margin-left: 33%;
  width: 15%;
  background: none;
}

.reviewFormErrors {
  display: flex;
  justify-content: center;
  color: red
}
