.reviewForm {
  margin: 10px 20px 20px 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.reviewInput {
  min-height: 20vh;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 25px;
}

.ReviewFormErrors {
  display: flex;
  justify-content: center;
  color: red;
}

.alreadyReviewed {
  
}

.restReviews {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding-top: 15px;
  max-width: 900px;
  background-color: white;
  margin: auto;
}

.restReviews p {
  font-size: 25px;
  padding: 15px;
}

.reviewListItem {
  padding: 15px 15px 15px 15px;
  font-size: 20px;
}

.reviewListItemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviewListItemHeader li {
  margin-right: 20px;
  margin-bottom: 13px;
}

.reviewList {
  display: flex;
  flex-direction: column-reverse;
}

.formReviewClick {
  padding: 20px 32px;
}

.calendar {
  height: 60px;
  width: 50%;
  border: none;
}

.calendar:hover {
  background-color: white;
  color: black;
}

.reviewDrop {
  width: 50%;
}

.reviewFormErrors {
  display: flex;
  justify-content: center;
  color: red
}
