.searchPage {
  background-color: #F6F5F5;
  margin: auto;
  height: 100vh;
  padding-bottom: 50px;
  padding-top: 40px;
}

.searchResultsLabel {
  background-color: white;
  max-width: 900px;
  margin: auto;
  padding: 5px 10px;
  margin-bottom: 25px;
  border-radius: 25px;
  font-size: 31px;
}

.searchResultsLabelText {
  margin-left: 15px;
}
